/* HEADER */
.header {
    height: auto;
    background-color: $backgroundHeader;

    .navLogo {
        margin: 20px 20px 20px 20px;

        &:hover {
            transform: scale(1.3, 1.3);
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0px;

        li {
            text-decoration: none;
            color: map-get($estilos, color1);
            border: map-get($estilos, border1);
            border-radius: map-get($estilos,borderRadius);
            font-size: 20px;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
            margin: 10px 10px 10px 10px;
            transition: 1s;
            background-color: map-get($estilos, color3 );

            &:hover {
                background-color: map-get($estilos, color1);
                transform: scale(1.2, 1.2);
            }

            a {
                text-decoration: none;
                color: map-get($estilos, color2);
            }
        }
    }
}